<?xml version="1.0"?>
<configuration>
  <appSettings configSource="Config\FinoConsulting\appSettings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SlackAngryAnalytics.Mobile.Service.MobileService" behaviorConfiguration="">
        <endpoint address="" name="JsonRESTful" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJson" contract="SlackAngryAnalytics.Mobile.Service.IMobileService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" crossDomainScriptAccessEnabled="false" automaticFormatSelectionEnabled="false" faultExceptionEnabled="false" transferMode="Buffered" defaultOutgoingResponseFormat="Json" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJson" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
